# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
kasir-api

# Test binary
*.test

# Output of the go coverage tool
*.out

# Go workspace file
go.work

# Environment variables
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS files
.DS_Store
Thumbs.db

# Air live reload
tmp/
tasks

# Logs
*.log
